<form
  class="form-horizontal"
  autocomplete="off"
  #editStaffModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Staff.Edit' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <div class="col-md-6">
        <label class="col-md-7 col-form-label" for="staffCode">
          {{ "Staff.StaffCode" | localize }}
        </label>
        <div class="col-md">
          <input
            type="text"
            class="form-control"
            name="staffCode"
            id="staffCode"
            [(ngModel)]="staff.staffCode"
            readonly
          />
        </div>
      </div>
      <div class="col-md-6">
        <label class="col-md-7 col-form-label" for="email">
          {{ "Staff.Email" | localize }}
        </label>
        <div class="col-md">
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            [(ngModel)]="staff.email"
             />
        </div>
      </div>
    </div>
    <div class="form-group row required">
      <div class="col-md">
        <label class="col-md-7 col-form-label" for="staffName">
          {{ "Staff.StaffName" | localize }}
        </label>
        <div class="col-md">
          <input 
            type="text"
            class="form-control"
            name="staffName" 
            id="staffName"  
            [(ngModel)]="staff.staffName"
            required
            >
        </div>
      </div>
    </div>
    <div class="form-group row required">
      <div class="col-md-6">
        <label class="col-md-7 col-form-label" for="phoneNumber">
          {{ "Staff.PhoneNumber" | localize }}
        </label>
        <div class="col-md">
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="phoneNumber"
            required
            maxlength="10"
            pattern="^[0-9\-\+]{9,15}$"
            [(ngModel)]="staff.phoneNumber"
          />
        </div>
      </div>
       <div class="col-md-6">
        <label class="col-md-7 col-form-label" for="birthDate">
          {{ "Staff.BirthDate" | localize }}
        </label>
        <div class="col-md">
          <input
            type="date"
            class="form-control"
            name="birthDate"
            id="birthDate"
            [(ngModel)]="staff.birthDate"
          />
        </div>
      </div>
    </div>
    <div class="form-group row m-1">
      <div class="col-md">
        <label class="col-form-label" for="address">
          {{ "Staff.Address" | localize }}
        </label>
        <textarea class="form-control" rows="3" name="address" id="address" required
          [(ngModel)]="staff.address"></textarea>
      </div>
    </div>
    <div class="form-group row m-1 mb-0">
      
      <label class="col-md-3 col-form-label">
        {{ "Staff.StaffStatus" | localize }}
      </label>
      <div class="col-md">
        <select [(ngModel)]="selectedValueStaffStatus" name="selectListStaffStatus" class="form-control" >
          <option *ngFor="let item of selectListStaffStatus" [value]="item.value">{{ item.text | localize }}</option>
        </select>
      </div>
    </div>  
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editStaffModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>