<form #staffForm="ngForm" (ngSubmit)="submitForm(staffForm)">
  <div>
    <label for="name">staffCode:</label>
    <input type="text" id="name" name="name" [(ngModel)]="staff.staffCode" required>
  </div>
  <div>
    <label for="price">staffName:</label>
    <input type="text" id="price" name="price" [(ngModel)]="staff.staffName" required>
  </div>
  <div>
    <label for="description">phoneNumber:</label>
    <input type="text" id="description" name="description" [(ngModel)]="staff.phoneNumber" required>
  </div>
  <div>
    <label for="description">email:</label>
    <input type="text" id="description" name="description" [(ngModel)]="staff.email" required>
  </div>
  <div>
    <label for="description">birthDate:</label>
    <input type="date" id="description" name="description" [(ngModel)]="staff.birthDate" required>
  </div>
  <div>
    <label for="description">address:</label>
    <input type="text" id="description" name="description" [(ngModel)]="staff.address" required>
  </div>
  <div>
    <label for="image">Image:</label>
    <input type="file" id="image" name="image" (change)="onImageChange($event)">
  </div>
  <button type="submit" [disabled]="staffForm.invalid">Submit</button>
</form>