<form
  class="form-horizontal"
  autocomplete="off"
  #createCustomerModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Customer.Create' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <div class="col-md-6">
        <label class="col-md-7 col-form-label" for="customerCode">
          {{ "Customer.CustomerCode" | localize }}
        </label>
        <div class="col-md">
          <input
            type="text"
            class="form-control"
            name="customerCode"
            id="customerCode"
            [(ngModel)]="customer.codeCustomer"
            readonly
          />
        </div>
      </div>
      <div class="col-md-6">
        <label class="col-md-7 col-form-label" for="email">
          {{ "Customer.Email" | localize }}
        </label>
        <div class="col-md">
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            [(ngModel)]="customer.email"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
            #emailAddressModel="ngModel"
            #emailAddressEl
            required
          />
          <abp-validation-summary
          [control]="emailAddressModel"
          [controlEl]="emailAddressEl"
        ></abp-validation-summary>
        </div>
      </div>
    </div>
    <div class="form-group row required">
      <div class="col-md">
        <label class="col-md-7 col-form-label" for="customerName">
          {{ "Customer.CustomerName" | localize }}
        </label>
        <div class="col-md">
          <input 
            type="text"
            class="form-control"
            name="customerName" 
            id="customerName"  
            [(ngModel)]="customer.nameCustomer"
            required
            >
        </div>
      </div>
    </div>
    <div class="form-group row required">
      <div class="col-md-6">
        <label class="col-md-7 col-form-label" for="phoneNumber">
          {{ "Customer.PhoneNumber" | localize }}
        </label>
        <div class="col-md">
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="phoneNumber"
            required
            maxlength="10"
            pattern="^[0-9\-\+]{9,15}$"
            [(ngModel)]="customer.phoneNumber"
          />
        </div>
      </div>
      <div class="col-md-6">
        <label class="col-md-7 col-form-label" for="status">
          {{ "Customer.Status" | localize }}
        </label>
        <div class="col-md">
          <select [(ngModel)]="selectedValueStatus" name="selectedValueStatus" class="form-control">
            <option *ngFor="let item of selectListStatus" [value]="item.value">{{ item.text | localize }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group row m-1">
      <div class="col-md">
        <label class="col-form-label" for="address">
          {{ "Customer.Address" | localize }}
        </label>
        <textarea class="form-control" rows="3" name="address" id="address"
          [(ngModel)]="customer.address"></textarea>
      </div>
    </div>  
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createCustomerModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>