<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "HomePage" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{ dashboardDto.totalOrder }}</h3>
              <p>{{ "Dashboard.TotalOrder" | localize }}</p>
            </div>
            <div class="icon">
              <i class="fas fa-shopping-bag"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{ dashboardDto.totalRevenue| currency:'VND':'symbol':'1.0-0' }}</h3>
              <p>{{ "Dashboard.TotalRevenue" | localize }}</p>
            </div>
            <div class="icon">
              <i class="fas fa-dollar-sign"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{ dashboardDto.totalProductSold }}</h3>
              <p>{{ "Dashboard.TotalProductSold" | localize }}</p>
            </div>
            <div class="icon">
              <i class="fas fa-sort-amount-up"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>{{ dashboardDto.mostSoldProduct | localize }}</h3>
              <p>{{ "Dashboard.MostSoldProduct" | localize }}</p>
            </div>
            <div class="icon">
              <i class="fas fa-chart-pie"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-primary elevation-1">
              <i class="fas fa-chart-line"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">{{ "Dashboard.TotalProductsInStock" | localize }}</span>
              <span class="info-box-number">
                {{ dashboardDto.totalProductsInStock }}
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1">
              <i class="fas fa-chart-bar"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">{{ "Dashboard.TotalProductsSold" | localize }}</span>
              <span class="info-box-number">
                {{ dashboardDto.totalProductsSold }}
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-info elevation-1">
              <i class="fas fa-barcode"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">{{ "Dashboard.ProductsBelowMinimum" | localize }}</span>
              <span class="info-box-number">
                {{ dashboardDto.productsBelowMinimum }}
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1">
              <i class="fas fa-eye"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">{{ "Dashboard.MostSoldProductInfo" | localize }}</span>
              <span class="info-box-number">
                {{ dashboardDto.mostSoldProductInfo | localize }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Open Issues</h3>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead class="bg-light">
                  <tr>
                    <th>Id</th>
                    <th class="w-25">Title</th>
                    <th class="w-25">Labels</th>
                    <th>Date</th>
                    <th>Opened by</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5452"
                        target="_blank">
                        5452
                      </a>
                    </td>
                    <td>Angular UI migration to AdminLTE 3</td>
                    <td>
                      <span class="badge badge-secondary mx-1">
                        module-zero-core-template
                      </span>
                      <span class="badge badge-primary mx-1">
                        feature
                      </span>
                    </td>
                    <td>11 days ago</td>
                    <td>iyilm4z</td>
                  </tr>
                  <tr>
                    <td>
                      <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5391"
                        target="_blank">
                        5391
                      </a>
                    </td>
                    <td>
                      AbpCacheBase should lock the same object for sync and
                      async
                    </td>
                    <td>
                      <span class="badge badge-danger mx-1">
                        bug
                      </span>
                      <span class="badge badge-success mx-1">
                        pull request candidate
                      </span>
                    </td>
                    <td>26 days ago</td>
                    <td>acjh</td>
                  </tr>
                  <tr>
                    <td>
                      <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/issues/5390"
                        target="_blank">
                        5390
                      </a>
                    </td>
                    <td>AbpCache sliding/absolute expire time</td>
                    <td>
                      <span class="badge badge-warning mx-1">
                        breaking-change
                      </span>
                      <span class="badge badge-info mx-1">enhancement</span>
                    </td>
                    <td>27 days ago</td>
                    <td>ryancyq</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">{{ "RecentSalesHistory" | localize}}</h3>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead class="bg-light">
                  <tr>
                    <th>{{ "Order.OrderCode" | localize }}</th>
                    <th  class="w-25">{{ "Order.CustomerName" | localize }}</th>
                    <th class="w-25">{{ "Order.StaffName" | localize }}</th>
                    <th >{{ "Order.TotalPrice" | localize }}</th>
                    <th>{{ "Order.CreationTime" | localize }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of orders" (click)="viewOrder(order)">
                    <td>{{ order.orderCode }}</td>
                    <td><strong>{{ order.customerName}}</strong></td>
                    <td><strong>{{ order.staffName}}</strong></td>
                    <td class="text-center">{{ order.totalPrice | currency:'VND':'symbol':'1.0-0' }}</td>
                    <td>{{ order.creationTime | date: 'dd/MM/yy, HH:mm:ss'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div id="chart">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [yaxis]="chartOptions.yaxis"
              [xaxis]="chartOptions.xaxis"
              [labels]="chartOptions.labels"
              [stroke]="chartOptions.stroke"
              [title]="chartOptions.title"
              [dataLabels]="chartOptions.dataLabels"
              [fill]="chartOptions.fill"
              [tooltip]="chartOptions.tooltip"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>