<abp-modal-header [title]="'View' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
<div class="modal-body">
  <div class="row">
    <div class="col-md-4">
      <label class="col-md-3 col-form-label" for="name">
        {{ "UserId" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="userId" id="userId" readonly  [value]="log.userId">
      </div>
    </div>
    <div class="col-md-4">
      <label class="col-md-3 col-form-label" for="name">
        {{ "MethodName" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="methodName" id="methodName" [value]="log.methodName" readonly>
      </div>
    </div>
    <div class="col-md-4">
      <label class="col-md-3 col-form-label" for="name">
        {{ "ReturnValue" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="returnValue" id="returnValue" [value]="log.returnValue" readonly>
      </div>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-4">
      <label class="col-md-3 col-form-label" for="name">
        {{ "ExecutionTime" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="executionTime" id="executionTime"
        [value]="log.executionTime.toString() | date : 'dd/MM/yy, HH:mm:ss'" readonly/>
      </div>
    </div>
    <div class="col-md-4">
      <label class="col-md-3 col-form-label" for="name">
        {{ "ExecutionDuration" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="executionDuration" id="executionDuration"
        [value]="log.executionDuration" readonly/>
      </div>
    </div>
    <div class="col-md-4">
      <label class="col-md-3 col-form-label" for="name">
        {{ "ClientIpAddress" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="name" id="name" [value]="log.clientIpAddress" readonly/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label class="col-md-3 col-form-label" for="name">
        {{ "ClientName" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="clientName" id="clientName" [value]="log.clientName" readonly/>
      </div>
    </div>
    <div class="col-md-4">
      <label class="col-md-3 col-form-label" for="name">
        {{ "ImpersonatorUserId" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="impersonatorUserId" id="impersonatorUserId" [value]="log.impersonatorUserId" readonly/>
      </div>
    </div>
    <div class="col-md-4">
      <label class="col-md-3 col-form-label" for="name">
        {{ "ImpersonatorTenantId" | localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="impersonatorTenantId" id="impersonatorTenantId" [value]="log.impersonatorTenantId" readonly/>
      </div>
    </div>
  </div>
  <!--textarea-->
  <div class="row m-1">
    <label class="col-form-label" for="name">
      {{ "ServiceName" | localize }}
    </label>
    <textarea class="form-control" name="serviceName" id="serviceName" readonly
      [(ngModel)]="log.serviceName"></textarea>
  </div>
  <div class="row m-1">
    <label class="col-form-label" for="name">
      {{ "Parameters" | localize }}
    </label>
    <textarea class="form-control" name="parameters" id="parameters" readonly [(ngModel)]="log.parameters"></textarea>
  </div>
  <div class="row m-1">
    <label class="col-form-label" for="name">
      {{ "BrowserInfo" | localize }}
    </label>
    <textarea class="form-control" name="browserInfo" id="browserInfo" readonly [(ngModel)]="log.browserInfo"></textarea>
  </div>
  <div class="row m-1">
    <label class="col-form-label" for="name">
      {{ "ExceptionMessage" | localize }}
    </label>
    <textarea class="form-control" name="exceptionMessage" id="exceptionMessage" readonly [(ngModel)]="log.exceptionMessage"></textarea>
  </div>
  <div class="row m-1">
    <label class="col-form-label" for="name">
      {{ "Exception" | localize }}
    </label>
    <textarea class="form-control" name="exception" id="exception" readonly [(ngModel)]="log.exception"></textarea>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="bsModalRef.hide()">Close</button>
</div>